<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Внимание!</h5>
      </div>
      <div class="col-md-12 text-center">
        <div class="modal-body">
          <a id="confirmModal-text">Text</a><br/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger text-center" id="modal-confirm-button">Хорошо</button>
          <button type="button" class="btn btn-success text-center" id="modal-close-button", onclick="$('#confirmModal').modal('hide');">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</div>
