<!-- Modal -->
<div class="modal fade" id="faq_1_modal" tabindex="-1" role="dialog" aria-labelledby="prefixModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prefixModalLabel">Добавление префикса</h5>
      </div>
      <div class="col-md-12">
        <div class="modal-body">
          <p>Вызвать контекстное меню в XML Sender можно двумя способами:</p>
          <ol>
            <li>Кликнуть правой кнопкой мыши на любое зеленое поле.</li>
            <li>Кликнуть правой кнопкой мыши на окно редактирования XML.</li>
          </ol>
          <p>На скриншоте ниже представлены все возможные контекстные меню в XML Sender.</p>
          <div class="text-center">
          <%= link_to image_url("1.png") do %>
            <%= image_tag("1.png", :size => "700x354", class: "grow shadow") %>
          <% end %>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>