<!-- Modal -->
<div class="modal fade" id="faq_run_simple_test" tabindex="-1" role="dialog" aria-labelledby="prefixModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prefixModalLabel">Запуск Simple Test</h5>
      </div>
      <div class="col-md-12">
        <div class="modal-body">
          <p>Для запуска Simple Test необходимо:</p>
          <ol>
            <li>В списке справа выбрать Продукт, категорию и XML для которой был создан Simple Test.</li>
            <li>Нажать кнопку "Запустить".</li>
          </ol>
          <ul>
            <li>После этого XML отправится во внешнюю систему и полученный от нее ответ будет проверен на наличии ожидаемого статуса (или другого параметра). Если проверка пройдет успешно, окно с принятым сообщением примет зеленый цвет</li>
            <li>Если запустить тест с отмеченным флагом "Запустить всю категорию", то выполнятся все тесты в этой категории:</li>
          </ul>
          <div class="text-center">
          <%= link_to image_url("run_simple_test.png") do %>
            <%= image_tag("run_simple_test.png", size: "700x338", class: "grow shadow") %>
          <% end %>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>